[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "AATtools"]
	path = AATtools
	url = https://github.com/spiritspeak/aattools
[submodule "rapidsplithalf"]
	path = rapidsplithalf
	url = https://github.com/spiritspeak/rapidsplit
